    <!-- Copyright --> 
    
    <div class="text-center p-3">
        <b>Siguenos:</b> &nbsp;
        
        <a href="https://www.facebook.com/busosblinders/"><i class="bi bi-facebook"></i></a>&nbsp;
        <a href="https://www.instagram.com/busos_blinders/"><i class="bi bi-instagram"></i></a>
    </div>
    <div class="text-center p-3" >
        © 2021 Desarrollado por DR Solutions 
        <a href="https://github.com/davidrs7"><i class="bi bi-github"></i></a>
      </div>
       
    <!-- Copyright -->
   