    <!-- Copyright --> 
    
    <div class="text-center p-3">
        <b>Siguenos:</b> &nbsp;
        
        <a style="color:blue" (click)="facebook()"><i class="bi bi-facebook"></i></a>&nbsp;
        <a style="color:blueviolet" (click)="instagram()"><i class="bi bi-instagram"></i></a>
    </div>
    <div class="text-center p-3" >
        © 2022 Desarrollado por DR Solutions 
        <a style="color:black" (click)="github()"><i class="bi bi-github"></i></a>&nbsp;
        <a style="color:blue" (click)="linkenId()"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </div>
       
    <!-- Copyright -->
   