<h1>Catálogo <small>Busos blinders</small> </h1>
<hr>
<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let referencia of referencias; let i = index;">
        <img class="card-img-top">
        <a (click)="verProductos(i)">   <img class="card-img-top" [src]="referencia.img"> </a>     
        <div class="card-body">
            <h5 class="card-title">{{ referencia.refDescripcion  | titlecase}}</h5>  
            <button type="button" (click)="verProductos(i)" class="btn btn-outline-primary" style="width: 100%;"><i class="bi bi-bag"></i> Comprar</button>

        </div>
    </div>
</div>