<html>

<head>

</head>

<body>
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['categorias']"><u class="text-danger"><b>Seguir
                            comprando</b></u><span class="sr-only">(current)</span></a>
            </li>
        </ul> <br />

        <h3>Resumen de tu pedido</h3>
        <br /> <br />
        <div class="container-md-5">
             
            <div class="row text-center"  *ngFor="let producto of productos; let i = index">
                <div class="col"><img height="80" src="{{producto.img}}"></div>
                <div class="col">{{producto.refDescripcion}} {{producto.color}} TALLA: {{producto.talla}}</div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-danger" (click) = "restarCantidad(i)"><i class="fa fa-minus-circle"
                                    aria-hidden="true"></i></button>
                        </div>
                        <div class="col"> 
                            <input class="text-center" disabled type="number" width="50%" value="{{producto.cantidadEnviada}}" min="0" max="100"
                                step="10" style="border: none;"  />
                        </div>
                        <div class="col">
                            <button class="btn btn-success" (click) = "sumarCantidad(i)"><i class="fa fa-plus-circle"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>

                </div>
                <div class="col">$ {{ producto.vlrTotal }}</div>
                <hr/>
            </div> 
            <div class="text-center">
                <h3>Total: <small>$ {{totalFactura}}</small></h3>
            </div>
        </div>
    </div> 

</body>



</html>