<html>

<head>

</head>

<body>
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['categorias']"><u class="text-danger"><b>Seguir
                            comprando</b></u><span class="sr-only">(current)</span></a>
            </li>
        </ul> <br />

        <h3>Resumen de tu pedido</h3>
        <br /> <br />
        <div class="container-md-5">
             
            <div class="row text-center"  *ngFor="let producto of productos; let i = index">
                <div class="col"><img height="80" src="{{producto.img}}"></div>
                <div class="col">{{producto.refDescripcion}} {{producto.color}} TALLA: {{producto.talla}}</div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-danger" (click) = "restarCantidad(i)"><i class="fa fa-minus-circle"
                                    aria-hidden="true"></i></button>
                        </div>
                        <div class="col"> 
                            <input class="text-center" disabled type="number" width="50%" value="{{producto.cantidadEnviada}}" min="0" max="100"
                                step="10" style="border: none;"  />
                        </div>
                        <div class="col">
                            <button class="btn btn-success" (click) = "sumarCantidad(i)"><i class="fa fa-plus-circle"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>

                </div>
                <div class="col">{{ producto.vlrTotal | currency: 'COP' :'symbol-narrow':'2.0-2' }}</div>
                <hr/>
            </div> 
            <div class="text-center">
                <h3>Total: <small>{{totalFactura | currency: 'COP' :'symbol-narrow':'2.0-2'}}</small></h3>
             
                <button class="btn btn-success" [disabled]="validaProductos()" data-bs-toggle="modal" data-bs-target="#modalMetodoEntrega" ><i class="fa fa-shopping-cart"
                    aria-hidden="true"></i> Finalizar compra</button>
            </div>
        </div>
    </div> 

    <div class="modal fade"  id="modalMetodoEntrega" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #modalMetodoEntrega>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Metodo de entrega</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Estimado cliente estos son nuestros metodos de entrega:<br/>
              <li>Domicilio Bogotá: Tiene un costo $ 10.000 para la ciudad de bogota, pago contra entrega.</li>
              <li>Domicilio nacional: se coordina con la transportadora interrapidisimo.</li>
              <li>Retiro en tienda: Puedes acercarte a nuestro punto de fabrica a retirar tu producto.</li>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"data-bs-toggle="modal" data-bs-target="#modalDatosCliente" (click)="tipoDomicilio(2)" >Domicilio</button>
              <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#modalDatosCliente" (click)="tipoDomicilio(3)">Envio nacional</button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDatosCliente" (click)="tipoDomicilio(1)" >Retiro en tienda</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="modalDatosCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #modalDatosCliente>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{DescTipEntrega}}</h5>
            </div>
            <div class="modal-body"> 
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingNombres" placeholder="Nombres" #floatingNombres>
                    <label for="floatingNombres">Nombres y apellidos</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingTelefono" placeholder="Telefono" #floatingTelefono>
                    <label for="floatingTelefono">Telefono celular</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingCuidad" placeholder="Cuidad" #floatingCuidad> 
                    <label for="floatingCuidad">Cuidad</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingDireccion" placeholder="Direccion" #floatingDireccion>
                    <label for="floatingDireccion">Direccion</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingBarrio" placeholder="Barrio" #floatingBarrio>
                    <label for="floatingBarrio">Barrio - localidad</label>
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)="FinalizarPedido(2)">Enviar pedido</button> 
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Regresar</button> 
            </div>
          </div>
        </div>
      </div>

</body>



</html>