<html>

<head>

</head>

<body>
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['categorias']"><u class="text-danger"><b>Seguir
                            comprando</b></u><span class="sr-only">(current)</span></a>
            </li>
        </ul> <br />

        <h3>Resumen de tu pedido</h3>
        <br />
        <div class="container-md-5">
            <hr />
            <div class="row text-center">
                <div class="col"><img height="80" src="../../../assets/img//Productos/capota/CafeCapota.PNG"></div>
                <div class="col">Buso capota unisex cafe talla M</div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                        </div>
                        <div class="col">
                            <input class="text-center"  disabled type="number" width="50%" value="50" min="0" max="100" step="10"
                                ditsabled style="border: none;" />
                        </div>
                        <div class="col">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </div>
                    </div>

                </div>
                <div class="col">$ 32.999</div>
            </div>
            <hr />
            <div class="text-right">
            <h3>Total: <small>$ 500.000</small></h3>
            </div>
        </div>
    </div>
</body>

</html>