<br>
<div class="row animated fadeIn low">
  <div class="col-md-4">
    <img [src]="producto[0].img" class="img-fluid">
    <br><br>
  </div>
  <div class="col-md-8">
    <div class="form-row">
      <div class="form-group col-md-12">
    <h1>{{producto[0].refDescripcion}}<small> {{ producto[0].color | uppercase }}</small>
    </h1>
  </div> 
    
    </div>
    <h3>${{producto[0].vlrUnidad}}</h3>
    <hr>
    <br>


    <h2>Tallas</h2>
    <div class="form-check form-check-inline" *ngFor="let product of producto">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="{{product.tallaCodigo}}" value="option1">
      <label class="form-check-label" for="inlineRadio1">{{product.talla}}</label>
    </div>
    <br>
    <br>
    <h3>Cantidad</h3>
    <div class="form-row">
      <div class="form-group col-md-2">
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-4">
        <button class="btn btn-outline-danger">Agregar al carrito</button>
      </div>
     
    </div>
    <hr> 
    <p>
      {{producto[0].DescProducto}}
    </p>
    <div>
     

      <div class="form-row">
     
        <div class="form-group col-md-4">
          <a [routerLink]="['/productos/',producto[0].refCodigo]" class="btn btn-outline-danger btn-block">Regresar</a>
        </div>
        <div class="form-group col-md-2"> 
        </div>
       
      </div>

    </div>
  </div>
</div>