<h1>Nombre del producto<small></small></h1>
<hr>
<div class="row animated fadeIn low">
    <div class="col-md-4">
        <img src="../../../assets/img/Productos/LilaCapota.PNG" class="img-fluid">
        <br><br>
        <a [routerLink]="['/categorias']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>Nomre producto</h3>
        <h3>$ 32.999</h3>
        <hr>
        <br>
        <h2>Tallas</h2>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">S</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">M</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">L</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">XL</label>
          </div>
          <br>
          <br>
          <h3>Cantidad</h3>
          <div class="form-row">
          <div class="form-group col-md-2"> 
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col-md-6"> 
            <button class="btn btn-outline-danger">Agregar al carrito</button>
          </div>
        </div>
        <hr>
        
        <p>
            Descripcion del producto
        </p>
        <div>

        </div>
    </div>
</div>