<h1>Productos <small>Busos con capota unisex</small> </h1>
<hr>
 
<div class="card-columns">
    
    <div class="card animated fadeIn fast" *ngFor="let producto of productos;">
        <img class="card-img-top">
        <img class="card-img-top" [src]="producto.img" [alt]="producto.nombre">
        <div class="card-body">
            <h5 class="card-title">$ {{ producto.vlrUnidad }}</h5> 
            <br>
            <button type="button" class="btn btn-outline-primary" style="width: 100%;">ver mas...</button>
            <!--<a [routerLink]="['/heroe',i]" class="btn btn-outline-primary" style="width: 100%;">Ver mas...</a>-->
        </div>
    </div>
</div>