<div class="bg-ligth">
    <app-navbar></app-navbar>
   
    <div class="container mt-5">
      <router-outlet></router-outlet>
      
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=573124379303&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20los%20productos." class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
    </div> 
    <hr>
    <footer> 
      <app-footer></app-footer> 
   </footer>
  </div>

  
  